@media (max-width: 991px) {
	.header-info {
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		height: 10vh;
	}
	.header-adress span {
		font-size: 0.8rem;
		margin-left: 5px;
	}
	.header-adress .fa-map-marker {
		margin-left: 15px;
	}
	.header-menu {
		flex-direction: row;
		margin-top: 5%;
	}
	.logo {
		margin-left: 0;
	}
	.header-nav {
		display: none;
	}
	.m-menu-link {
		display: block;
	}
	.owl-item-1 {
		background-position: center;
		/*background-size: auto;*/
	}
	.header-desc {
		top: 40%;
	}
	.header-desc h1 {
		font-size: 40px;
		text-align: center;
	}
	.header-desc p {
		text-align: center;
		margin-bottom: 1rem;
	}
	.header-slider .owl-dots {
		position: absolute;
		top: 90%;
		right: 30%;
		display: flex;
		flex-direction: row;
	}
	.header-btns {
		flex-direction: column;
	}
	.about-btn {
		margin-right: 0;
		margin-bottom: 1rem;
	}
	.services {
		height: auto;
		margin-bottom: 5rem;
	}
	.services-wrap h2 {
		margin: 0;
	}
	.services-wrap p {
		font-size: 1rem;
	}
	.services-icons {
		flex-direction: column;
	}
	.services-icon {
		padding: 15%;
	}
	.services-icon:last-child {
		margin-bottom: 8%;
	}
	.services-desc p {
		text-align: center;
	}
	.services-blog {
		flex-direction: column;
	}
	.serv-blog-desc h3 {
		font-size: 1.8rem;
	}
	.serv-blog-img {
		width: 300px;
	}
	.serv-blog-img::after {
		width: 300px;
	}
	.serv-blog-desc {
		width: 90%;
		text-align: center;
	}
	.calendar {
		flex-direction: column;
		text-align: center;
		top: 65%;
		left: 0;
		width: 100%;
		height: auto;
	}
	.calendar i {
		top: 23%;
		left: 50%;
	}
	.calendar p {
		width: 100%;
		margin-top: 0;
	}
	.calendar p::before {
		display: none;
	}
	.calendar a {
		position: absolute;
		top: -10%;
		right: 80%;
	}
	.channel {
		height: auto;
	}
	.channel-desc {
		margin-top: 12rem;
	}
	.channel-video {
		margin-top: 4rem;
	}
	.channel-video img{
		width: 95%;
		height: auto;
	}
	.blog {
		height: auto;
	}
	.blog-links ul {
		padding: 0;
	}
	.blog-links li {
		margin: 0.5rem;
	}
	.blog-area {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(5, 1fr);
	}
	.blog-area-item {
		grid-column: 1 / 2;
	}
	.blog-area-item h5, p, .blog-area-item-2 h5, p, .blog-area-item-3 h5, p, .blog-area-item-4 h5, p, .blog-area-item-5 h5, p {
		text-align: center;
	}
	.latest-post {
		transform: none;
		left: 0;
	}
	.latest-post span {
		font-size: 1rem;
	}
	.latest-post span::before {
		display: none;
	}
	.latest-post span::after {
		content: '';
		width: 5rem;
		height: 1px;
		background-color: #494949;
		position: absolute;
		top: 45%;
		right: 40%;
	}
	.blog-button {
		margin-top: 2rem;
	}
	.contact {
		height: auto;
	}
	.contacts {
		flex-direction: column;
		margin-top: 3rem;
	}
	.contact-item {
		flex-direction: column;
	}
	.contact-item-desc {
		text-align: center;
		margin: 1rem 0;
	}
	footer {
		height: auto;
	}
	.footer-nav ul {
		flex-direction: column;
		padding: 0;
	}
	.footer-nav li {
		margin: 1rem;
	}
	.footer-logo {
		margin-top: 2rem;
	}
	.top {
		justify-content: center;
	}
	.loader-inner {
		left: 35%;
    top: 40%;
	}
}