@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
header {
	height: 100vh;
	min-height: 700px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.header-slider .owl-dots {
	position: absolute;
	top: 50%;
	right: 1%;
	/*display: flex;
	justify-content: flex-end;
	align-items: center;*/
}
.header-slider .owl-dots .owl-dot {
	width: 7px;
	height: 7px;
	background-color: #fff;
	margin: 10px;
}
.header-slider .owl-dots .owl-dot.active {
	background-color: #e8be7b;
	transform: scale(1.7);
}
.owl-item-1 {
	width: 100%;
	height: 100vh;
	background-image: url(../img/bg-1.png);
	background-size: cover;
}
.owl-item-2 {
	width: 100%;
	height: 100vh;
	background-image: url(../img/pexels-photo-247199.jpeg);
	background-position: center;
	background-size: cover;
}
.owl-item-3 {
	width: 100%;
	height: 100vh;
	background-image: url(../img/pexels-photo-314548.jpeg);
	background-position: center;
	background-size: cover;
}
.owl-item-4 {
	width: 100%;
	height: 100vh;
	background-image: url(../img/pexels-photo-225232.jpeg);
	background-position: center;
	background-size: cover;
}
.owl-item-5 {
	width: 100%;
	height: 100vh;
	background-image: url(../img/girl-smile.jpg);
	background-position: center;
	background-size: cover;
}
.header-info {
	position: absolute;
	top: 1%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 7vh;
	z-index: 2;
	border-bottom: 1px solid #fff;
}
.header-adress {
	font-family: 'Lato', sans-serif;
	font-size: 1rem;
	font-weight: 300;
	color: #fff;
}
.header-adress .fa-map-marker {
	margin-left: 35px;
}
.header-adress span {
	margin-left: 10px;
}
.header-socials i {
	font-size: 1rem;
	color: #fff;
	margin: 10px;
	transition: 0.4s;
}
.header-socials i:hover {
	color: #e8be7b;
}
.header-menu {
	position: absolute;
	top: 5%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 20vh;
	z-index: 2;
}
.logo {
	margin-left: 6rem;
}
.header-nav ul {
	display: flex;
	justify-content: space-around;
	list-style-type: none;
	height: 8.5rem;
	margin: 0;
}
.menu-link {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1rem;
	padding: 20px;
}
.menu-link:hover {
	color: #d6a862;
	transition: 0.3s ease;
}
.header-nav ul li {
	display: flex;
	justify-content: center;
	align-items: center;
}
.header-nav ul li:hover {
	border-top: 2px solid #d6a862;
}
.header-desc {
	position: absolute;
	top: 60%;
	z-index: 2;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.header-desc h1 {
	font-size: 66px;
	font-weight: 500;
	margin: 0;
	color: #fff;
}
.header-desc span {
	color: #d6a862;
}
.header-desc p {
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: #fff;
	margin-bottom: 2rem;
}
.header-btns {
	display: flex;
	flex-direction: row;
}
.about-btn {
	width: 180px;
	height: 48px;
	border: 1px solid white;
	background-color: transparent;
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-size: 1rem;
	font-weight: 500;
	text-transform: uppercase;
	cursor: pointer;
	transition: 0.3s;
	margin-right: 2rem;
	outline: none;
}
.about-btn:hover {
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.watch-btn {
	width: 180px;
	height: 48px;
	background-color: #e8be7b;
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-size: 1rem;
	font-weight: 500;
	text-transform: uppercase;
	cursor: pointer;
	transition: 0.3s;
	border: none;
	outline: none;
}
.watch-btn i {
	margin-right: 5px;
}
.watch-btn:hover {
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.m-menu {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0;
	margin: 0;
	position: fixed;
	right: 0;
	top: 0;
	height: 100vh;
	width: 100%;
	list-style-type: none;
	font-size: 2rem;
	line-height: 4rem;
	background-color: #6e45e2;
	z-index: 99;
	transform: translateX(100%);
	transition: 0.4s;
}
.m-menu__active {
	transform: translateX(0%);
}
.close-menu {
	position: fixed;
	right: 2rem;
	top: 0;
	font-size: 5rem;
	font-weight: 900;
	color: #fff;
}
.m-menu-link {
	display: none;
	color: #fff;
	font-size: 2rem;
}
.services {
	height: 100vh;
	min-height: 600px;
	background-color: #fbfcf5;
}
.services-wrap {
	text-align: center;
}
.services-wrap h2 {
	font-size: 48px;
	font-weight: 500;
	color: #3a3a3a;
	margin-top: 5%;
	margin-bottom: 0;
}
.services-wrap p {
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: #3a3a3a;
}
.services-icons {
	display: flex;
	justify-content: center;
	align-items: center;
}
.services-icon {
	padding: 5%;
	position: relative;
}
.services-desc {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
}
.services-desc p {
	font-size: 18px;
	color: #4d4d4d;
	text-transform: uppercase;
	display: flex;
	position: relative;
	left: -25%;
}
.services-blog {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	margin: 0 15%;
}
.serv-blog-img {
	width: 630px;
	height: 380px;
	background-image: url(../img/wedding.png);
	background-position: center 30%;
	position: relative;
}
.serv-blog-img::after {
	content: '';
	width: 630px;
	height: 380px;
	background-color: #e8be7b;
	position: absolute;
	left: 2%;
	top: 2%;
	z-index: -1;
}
.serv-blog-desc {
	width: 35%;
}
.serv-blog-desc h3 {
	font-weight: 700;
	font-size: 24px;
	color: #3a3a3a;
}
.serv-blog-desc p {
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
}
.serv-blog-desc a {
	color: #d6a862;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Lato', sans-serif;
	font-weight: 500;
	font-size: 18px;
}
.serv-blog-desc i {
	margin-left: 3%;
	color: #d6a862;
}
.middle {
	background-image: url(../img/wrap.png);
	background-size: cover;
	background-position: center;
	height: 100vh;
	min-height: 600px;
}
.calendar {
	position: relative;
	top: 75%;
	left: 30%;
	background-color: #fff;
	width: 50%;
	height: 15vh;
	display: flex;
}
.calendar h5 {
	display: block;
	font-size: 2rem;
	font-weight: 500;
	color: #3a3a3a;
	margin-top: 1.5rem;
	margin-left: 3.5rem;
	margin-right: 2rem;
}
.calendar i {
	color: #e8be7b;
	font-size: 1.6rem;
	position: absolute;
	top: 50%;
	left: 10%;
}
.calendar p {
	font-family: 'Lato', sans-serif;
	font-size: 1rem;
	color: #3a3a3a;
	line-height: 1.7;
	width: 75%;
	margin-top: 1.5rem;
}
.calendar p::before {
	content: '';
	border-left: 1px solid #3a3a3a;
	margin-right: 2rem;
}
.calendar a {
	position: relative;
	right: -15%;
	top: 50%;
}